<footer class="page-footer pt-4 mt-5" id="footer">  
  <div class="inner container-fluid text-center text-md-left">
    <img src="../../../assets/images/logo.png" alt="Chin Chin" width="200">
    <div class="row justify-content-between">
      <div class="col-md-6 mt-md-0 mt-3">
        <p class="my-5 about text-muted">Chin Chin te da la libertad que necesitas para manejar tu dinero sin intermediarios. A través de nuestra plataforma de dinero digital podrás ahorrar en cualquier divisa o criptomoneda y realizar pagos y transferencias a cualquier parte del mundo, desde cualquier dispositivo de manera segura, fácil y con bajo costo.</p>

        <span>
          <i class="fab fa-twitter social-icons"></i>
          <i class="fab fa-instagram ml-5 social-icons"></i>
          <i class="fab fa-facebook ml-5 social-icons"></i>
        </span>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      
      <div class="col-md-2 mb-md-0 mb-3 mt-5">
        <ul class="list-unstyled">
          <li>
            <a href="#" class="footer-links">Nosotros</a>
          </li>
          <li>
            <a href="#" class="footer-links">Características</a>
          </li>
        </ul>
      </div>
    
      <div class="col-md-2 mb-md-0 mb-3 mt-5">
        <ul class="list-unstyled">
          <li>
            <a href="#" class="footer-links">Contacto</a>
          </li>
          <li>
            <a href="#" class="footer-links">Ayuda y Soporte</a>
          </li>
          <li>
            <a href="#" class="footer-links">Términos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
